# Preprocessing Data

In [1]:
# import libraries

import pandas as pd
import numpy as np

### Satisfaction dataset

In [2]:
data = pd.read_csv('../dataset/istat_soddisfazione.csv')

regioni = ['Italia','Trentino Alto Adige / Südtirol', 'Emilia-Romagna','Toscana','Abruzzo','Piemonte','Lazio', 'Sardegna', 'Calabria','Lombardia', 'Sicilia','Basilicata', 'Puglia', 'Campania','Provincia Autonoma Bolzano / Bozen','Provincia Autonoma Trento', 'Friuli-Venezia Giulia',"Valle d'Aosta / Vallée d'Aoste",'Veneto', 'Marche','Liguria', 'Umbria', 'Molise']
data = data.loc[data['Territorio'].isin(regioni)]
for index, row in data.iterrows():
    if row['TIPO_DATO_AVQ'] in ['0_HFOOD_Q','0_HFOOD_V']:
        data.loc[index,'TIPO_ANALISI'] = 'FOOD'
    if row['TIPO_DATO_AVQ'] in ['0_SANFAC_V','0_SANFAC_Q']:
        data.loc[index,'TIPO_ANALISI'] = 'SANFAC'
    if row['TIPO_DATO_AVQ'] in ['0_NURS_V','0_NURS_Q']:
        data.loc[index,'TIPO_ANALISI'] = 'NURS'
    if row['TIPO_DATO_AVQ'] in ['0_MED_CAREQ','0_MED_CAREV']:
        data.loc[index,'TIPO_ANALISI'] = 'MED_CARE'
data = data[['ITTER107','Territorio','TIPO_ANALISI','Tipo dato','MISURA_AVQ','Misura','TIME','Value']]


for index, row in data.iterrows():
    if row['Tipo dato'] == 'molto ':
        data.loc[index,'value_molto'] = row['Value']
    if row['Tipo dato'] == 'molto e abbastanza':
        data.loc[index,'value_molto&abbastanza'] = row['Value']

del data['Tipo dato']
df = pd.DataFrame()
for index, row in data.iterrows():
    
    if  not (pd.isnull(row['value_molto&abbastanza'])) :
        d = data.loc[data['TIPO_ANALISI'] == row['TIPO_ANALISI']].loc[data['Territorio'] == row['Territorio']].loc[data['MISURA_AVQ'] == row['MISURA_AVQ']].loc[data['TIME'] == row['TIME']].loc[data['value_molto&abbastanza'].isnull()]
        d['value_molto&abbastanza'] = row['value_molto&abbastanza']
        
        df = df.append(d)
    if  not (pd.isnull(row['value_molto'])) :
        b = data.loc[data['TIPO_ANALISI'] == row['TIPO_ANALISI']].loc[data['Territorio'] == row['Territorio']].loc[data['MISURA_AVQ'] == row['MISURA_AVQ']].loc[data['TIME'] == row['TIME']].loc[data['value_molto'].isnull()]
        b['value_molto'] = row['value_molto']
        
        df = df.append(b)
del df['Value']

df = df.drop_duplicates()

df = df[['Territorio','TIPO_ANALISI','MISURA_AVQ','TIME','value_molto&abbastanza','value_molto']]
df['value_abbastanza'] = df['value_molto&abbastanza'] - df['value_molto']
df['value_abbastanza'] = round(df['value_abbastanza'],1)
df = df.loc[df['MISURA_AVQ'] == 'HSC']
df['value_scarso&poco'] = 100 - df['value_molto&abbastanza']
del df['value_molto&abbastanza']
df['value_scarso&poco'] = round(df['value_scarso&poco'],1)
df

,Territorio,TIPO_ANALISI,MISURA_AVQ,TIME,value_molto,value_abbastanza,value_scarso&poco
24,Italia,NURS,HSC,2014,40.0,46.1,13.9
25,Italia,NURS,HSC,2015,40.2,48.9,10.9
26,Italia,NURS,HSC,2016,39.6,50.0,10.4
27,Italia,NURS,HSC,2017,39.5,47.4,13.1
28,Italia,NURS,HSC,2018,39.3,49.7,11.0
...,...,...,...,...,...,...,...
2791,Sicilia,SANFAC,HSC,2015,17.1,48.8,34.1
2792,Sicilia,SANFAC,HSC,2016,13.8,56.2,30.0
2793,Sicilia,SANFAC,HSC,2017,14.7,46.9,38.4
2794,Sicilia,SANFAC,HSC,2018,17.5,51.8,30.7
2795,Sicilia,SANFAC,HSC,2019,7.5,47.2,45.3

In [3]:
soddisfazione = df

In [4]:
soddisfazione

,Territorio,TIPO_ANALISI,MISURA_AVQ,TIME,value_molto,value_abbastanza,value_scarso&poco
24,Italia,NURS,HSC,2014,40.0,46.1,13.9
25,Italia,NURS,HSC,2015,40.2,48.9,10.9
26,Italia,NURS,HSC,2016,39.6,50.0,10.4
27,Italia,NURS,HSC,2017,39.5,47.4,13.1
28,Italia,NURS,HSC,2018,39.3,49.7,11.0
...,...,...,...,...,...,...,...
2791,Sicilia,SANFAC,HSC,2015,17.1,48.8,34.1
2792,Sicilia,SANFAC,HSC,2016,13.8,56.2,30.0
2793,Sicilia,SANFAC,HSC,2017,14.7,46.9,38.4
2794,Sicilia,SANFAC,HSC,2018,17.5,51.8,30.7
2795,Sicilia,SANFAC,HSC,2019,7.5,47.2,45.3

In [5]:
soddisfazione.to_csv('../dataset/clean_dataset/soddisfazione.csv')

### Demografia

In [6]:
data = pd.read_csv('../dataset/istat_demografia.csv')

regioni = ['Italia','Trentino Alto Adige / Südtirol', 'Emilia-Romagna','Toscana','Abruzzo','Piemonte','Lazio', 'Sardegna', 'Calabria','Lombardia', 'Sicilia','Basilicata', 'Puglia', 'Campania','Provincia Autonoma Bolzano / Bozen','Provincia Autonoma Trento', 'Friuli-Venezia Giulia',"Valle d'Aosta / Vallée d'Aoste",'Veneto', 'Marche','Liguria', 'Umbria', 'Molise']
data = data.loc[data['Territorio'].isin(regioni)]

data = data.loc[data['TIPO_DATO15'] == 'JAN']
data = data.loc[data['CITTADINANZA'] == 'TOTAL']
data = data.loc[data['Sesso'] == 'totale']
data = data[['ITTER107','Territorio','Tipo dato','TIME','Value']]
data = data.loc[data['TIME'].isin([2014,2015,2016,2017,2018,2019])]

In [7]:
data.to_csv('../dataset/demografia.csv')

In [8]:
data

      ITTER107 Territorio                  Tipo dato  TIME    Value
52185     ITC1   Piemonte  popolazione al 1º gennaio  2014  4420924
52186     ITC1   Piemonte  popolazione al 1º gennaio  2015  4403562
52187     ITC1   Piemonte  popolazione al 1º gennaio  2016  4384226
52188     ITC1   Piemonte  popolazione al 1º gennaio  2017  4370348
52189     ITC1   Piemonte  popolazione al 1º gennaio  2018  4349911
...        ...        ...                        ...   ...      ...
73894     ITG1    Sicilia  popolazione al 1º gennaio  2015  5028266
73895     ITG1    Sicilia  popolazione al 1º gennaio  2016  5004400
73896     ITG1    Sicilia  popolazione al 1º gennaio  2017  4977900
73897     ITG1    Sicilia  popolazione al 1º gennaio  2018  4942188
73898     ITG1    Sicilia  popolazione al 1º gennaio  2019  4908548

[144 rows x 5 columns]

### Numero ospedali

In [9]:
data = pd.read_csv('../dataset/istat_numeroOspedali.csv')

In [10]:
regioni = ['Italia','Trentino Alto Adige / Südtirol', 'Emilia-Romagna','Toscana','Abruzzo','Piemonte','Lazio', 'Sardegna', 'Calabria','Lombardia', 'Sicilia','Basilicata', 'Puglia', 'Campania','Provincia Autonoma Bolzano / Bozen','Provincia Autonoma Trento', 'Friuli-Venezia Giulia',"Valle d'Aosta / Vallée d'Aoste",'Veneto', 'Marche','Liguria', 'Umbria', 'Molise']
data = data.loc[data['Territorio'].isin(regioni)]
data = data.loc[data['TIPO_DATO14'] == 18]
data = data.loc[data['Tipo di istituto'] == 'totale']
data = data[['ITTER107','Territorio', 'TIME','Value']]

data.to_csv('../dataset/numero_ospedali.csv')

In [11]:
data

     ITTER107 Territorio  TIME   Value
900        IT     Italia  2014  1118.0
901        IT     Italia  2015  1107.0
902        IT     Italia  2016  1092.0
903        IT     Italia  2017  1055.0
904        IT     Italia  2018  1048.0
...       ...        ...   ...     ...
1771     ITG2   Sardegna  2015    38.0
1772     ITG2   Sardegna  2016    32.0
1773     ITG2   Sardegna  2017    33.0
1774     ITG2   Sardegna  2018    33.0
1775     ITG2   Sardegna  2019    32.0

[138 rows x 4 columns]

## adding population, bed hospitals, number of hospitals and healthcare personnel

In [12]:
soddisfazione

,Territorio,TIPO_ANALISI,MISURA_AVQ,TIME,value_molto,value_abbastanza,value_scarso&poco
24,Italia,NURS,HSC,2014,40.0,46.1,13.9
25,Italia,NURS,HSC,2015,40.2,48.9,10.9
26,Italia,NURS,HSC,2016,39.6,50.0,10.4
27,Italia,NURS,HSC,2017,39.5,47.4,13.1
28,Italia,NURS,HSC,2018,39.3,49.7,11.0
...,...,...,...,...,...,...,...
2791,Sicilia,SANFAC,HSC,2015,17.1,48.8,34.1
2792,Sicilia,SANFAC,HSC,2016,13.8,56.2,30.0
2793,Sicilia,SANFAC,HSC,2017,14.7,46.9,38.4
2794,Sicilia,SANFAC,HSC,2018,17.5,51.8,30.7
2795,Sicilia,SANFAC,HSC,2019,7.5,47.2,45.3

In [13]:
soddisfazione = soddisfazione[['Territorio','TIPO_ANALISI','TIME','value_molto']]
#soddisfazione = soddisfazione.loc[soddisfazione['TIPO_ANALISI'] == 'NURS']
soddisfazione = soddisfazione.loc[soddisfazione['Territorio'] != 'Italia'].loc[soddisfazione['TIPO_ANALISI'] == 'NURS']

ospedali = pd.read_csv('../dataset/numero_ospedali.csv')
ospedali = ospedali[['Territorio','TIME','Value']]
ospedali = ospedali.loc[ospedali['Territorio'] != 'Italia']

soddisfazione = soddisfazione.sort_values(by=['Territorio','TIME'])
ospedali = ospedali.sort_values(by=['Territorio','TIME'])

soddisfazione = soddisfazione.reset_index()
ospedali = ospedali.reset_index()
soddisfazione['numero_ospedali'] = ospedali['Value']
soddisfazione

     index Territorio TIPO_ANALISI  TIME  value_molto  numero_ospedali
0     1926    Abruzzo         NURS  2014         15.3             29.0
1     1927    Abruzzo         NURS  2015         50.4             29.0
2     1928    Abruzzo         NURS  2016         28.6             29.0
3     1929    Abruzzo         NURS  2017         45.4             27.0
4     1930    Abruzzo         NURS  2018         35.3             27.0
..     ...        ...          ...   ...          ...              ...
127   3055     Veneto         NURS  2015         44.6             51.0
128   3056     Veneto         NURS  2016         52.0             52.0
129   3057     Veneto         NURS  2017         55.1             40.0
130   3058     Veneto         NURS  2018         55.4             40.0
131   3059     Veneto         NURS  2019         58.2             40.0

[132 rows x 6 columns]

In [14]:
demografia = pd.read_csv('../dataset/demografia.csv')

demografia = demografia.loc[demografia['Territorio'] != 'Italia']

demografia = demografia.sort_values(by=['Territorio','TIME'])

demografia = demografia[['Territorio','Value', 'TIME']]
demografia = demografia.drop_duplicates()

demografia = demografia.reset_index()

soddisfazione['popolazione'] = demografia['Value']
demografia

     index Territorio    Value  TIME
0      120    Abruzzo  1329918  2014
1      121    Abruzzo  1325836  2015
2      122    Abruzzo  1319294  2016
3      123    Abruzzo  1313930  2017
4      124    Abruzzo  1306059  2018
..     ...        ...      ...   ...
127     43     Veneto  4902694  2015
128     44     Veneto  4890648  2016
129     45     Veneto  4883373  2017
130     46     Veneto  4880936  2018
131     47     Veneto  4884590  2019

[132 rows x 4 columns]

In [15]:
soddisfazione = soddisfazione[['Territorio','TIME','value_molto','numero_ospedali','popolazione']]

data = pd.read_csv('../dataset/spese_sanità.csv')
data = data.rename(columns={'Media 2000-2018 ': "Territorio"})
#data = data.loc[data['Media 2000-2018 '].isin()]

regioni = data.Territorio.unique()
data = data.loc[data['Territorio'].isin(regioni)]

In [16]:
data.to_csv('../dataset/clean_dataset/investment.csv')

In [17]:
data

,Territorio,2014,2015,2016,2017,2018,2019
0,Piemonte,7.950.174,8.068.502,7.799.825,7.773.477,7.977.546,7.839.875
1,Valle d'Aosta,265.799,240.102,233.609,229.501,238.421,256.413
2,Lombardia,23.888.228,24.379.175,24.319.730,23.714.340,25.418.256,21.283.214
3,Liguria,3.264.961,2.882.344,2.876.990,2.828.186,3.397.242,2.989.652
4,P.A. Trento,1.169.641,1.175.446,1.149.568,1.178.064,1.164.550,1.097.678
5,P.A. Bolzano,1.091.604,1.091.007,1.071.360,1.092.770,1.121.171,1.110.964
6,Veneto,9.247.398,8.462.985,9.066.377,9.099.075,8.903.851,8.675.916
7,Friuli Venezia Giulia,2.486.072,2.134.932,2.474.586,2.587.494,2.843.113,2.236.716
8,Emilia Romagna,9.537.042,9.261.462,9.489.914,9.256.760,9.517.326,8.784.720
9,Toscana,6.466.117,6.355.577,6.155.458,6.421.289,6.793.643,6.659.719
10,Umbria,1.605.412,1.585.919,1.657.464,1.764.932,1.706.194,1.663.882
11,Marche,2.863.403,2.883.123,2.775.166,2.822.834,2.912.844,2.663.284
12,Lazio,14.340.959,10.897.744,11.340.193,11.085.658,11.594.145,10.135.603
13,Abruzzo,2.187.020,2.460.029,2.676.939,2.288.537,2.457.793,2.225.392
14,Molise,518.726,653.079,806.611,797.066,748.198,530.279
15,Campania,10.306.088,9.162.410,9.484.336,9.279.873,9.209.319,8.955.481
16,Puglia,6.546.261,6.741.949,6.502.670,6.983.116,6.705.014,6.482.339
17,Basilicata,934.25,957.476,999.405,962.287,949.669,931.155
18,Calabria,3.111.570,3.298.392,3.033.350,3.014.856,2.969.092,3.193.651
19,Sicilia,7.713.605,8.181.841,8.396.780,8.671.216,8.502.758,8.133.938
20,Sardegna,3.088.568,2.989.259,3.043.593,3.004.148,2.914.794,2.989.320
21,Nord-Occidentale,35.368.089,35.570.124,35.229.383,34.544.239,37.032.064,32.366.001
22,Nord-Orientale,23.528.681,22.125.833,23.252.127,23.210.875,23.545.117,21.904.505
23,Centrale,25.277.711,21.722.364,21.925.701,22.093.095,23.004.912,21.110.886
24,Meridionale,23.609.024,23.273.334,23.510.570,23.332.684,23.048.055,22.325.442
25,Insulare,10.802.012,11.171.099,11.439.358,11.673.598,11.415.624,11.122.778

In [18]:
data=data.sort_values(by =  ['Territorio'])

data = data.drop(labels=21, axis=0)
data = data.drop(labels=22, axis=0)
data = data.drop(labels=23, axis=0)
data = data.drop(labels=24, axis=0)
data = data.drop(labels=25, axis=0)

data.iloc[11]['Territorio'] = 'Provincia Autonoma Bolzano / Bozen'
data.iloc[12]['Territorio'] = 'Provincia Autonoma Trento'
data=data.sort_values(by =  ['Territorio'])

lista = []
regioni = data.Territorio.unique()

for i in regioni:
    
    a = data.loc[data['Territorio'] == i]
    a = a.reset_index()
    del a['Territorio']
    del a['index']
    b = list(a.iloc[0])
    
    for h in b:
        lista.append(h)
        
        
soddisfazione = soddisfazione.drop(labels=108, axis=0)
soddisfazione = soddisfazione.drop(labels=109, axis=0)
soddisfazione = soddisfazione.drop(labels=110, axis=0)
soddisfazione = soddisfazione.drop(labels=111, axis=0)
soddisfazione = soddisfazione.drop(labels=112, axis=0)
soddisfazione = soddisfazione.drop(labels=113, axis=0)
soddisfazione=soddisfazione.reset_index()

In [19]:
lista = [int(l.replace(".", "")) for l in lista]

soddisfazione['investimento'] = lista

del soddisfazione['index']

In [20]:
soddisfazione

    Territorio  TIME  value_molto  numero_ospedali  popolazione  investimento
0      Abruzzo  2014         15.3             29.0      1329918       2187020
1      Abruzzo  2015         50.4             29.0      1325836       2460029
2      Abruzzo  2016         28.6             29.0      1319294       2676939
3      Abruzzo  2017         45.4             27.0      1313930       2288537
4      Abruzzo  2018         35.3             27.0      1306059       2457793
..         ...   ...          ...              ...          ...           ...
121     Veneto  2015         44.6             51.0      4902694       8462985
122     Veneto  2016         52.0             52.0      4890648       9066377
123     Veneto  2017         55.1             40.0      4883373       9099075
124     Veneto  2018         55.4             40.0      4880936       8903851
125     Veneto  2019         58.2             40.0      4884590       8675916

[126 rows x 6 columns]

In [21]:
data = pd.read_csv('../dataset/istat_postilettocompleto.csv')

In [22]:
regioni = ['Emilia-Romagna','Toscana','Abruzzo','Piemonte','Lazio', 'Sardegna', 'Calabria','Lombardia', 'Sicilia','Basilicata', 'Puglia', 'Campania','Provincia Autonoma Bolzano / Bozen','Provincia Autonoma Trento', 'Friuli-Venezia Giulia',"Valle d'Aosta / Vallée d'Aoste",'Veneto', 'Marche','Liguria', 'Umbria', 'Molise']

data = data.loc[data['Territorio'].isin(regioni)]

data = data.sort_values(by = ['Territorio', 'TIME'])
data = data.reset_index()

In [23]:
dea = soddisfazione

In [24]:
dea['posti_letto'] = data['Value']

In [25]:
data = pd.read_csv('../dataset/istat_personalesanitario.csv')

data = data.loc[data['Territorio'].isin(regioni)]
data = data.loc[data['Tipo dato'] == 'personale sanitario']

data = data.sort_values(by = ['Territorio', 'TIME'])
data = data.reset_index()

dea['personale_sanitario'] = data['Value']

dea = dea[['Territorio','TIME','value_molto','numero_ospedali','popolazione','investimento','posti_letto','personale_sanitario']]

### dataset used for DEA

In [26]:
dea

,Territorio,TIME,value_molto,numero_ospedali,popolazione,investimento,posti_letto,personale_sanitario
0,Abruzzo,2014,15.3,29.0,1329918,2187020,4015,8074.0
1,Abruzzo,2015,50.4,29.0,1325836,2460029,3962,8294.0
2,Abruzzo,2016,28.6,29.0,1319294,2676939,4076,8431.0
3,Abruzzo,2017,45.4,27.0,1313930,2288537,3913,8534.0
4,Abruzzo,2018,35.3,27.0,1306059,2457793,3983,8349.0
...,...,...,...,...,...,...,...,...
121,Veneto,2015,44.6,51.0,4902694,8462985,16055,29704.0
122,Veneto,2016,52.0,52.0,4890648,9066377,16062,30161.0
123,Veneto,2017,55.1,40.0,4883373,9099075,15917,30445.0
124,Veneto,2018,55.4,40.0,4880936,8903851,16022,31341.0
125,Veneto,2019,58.2,40.0,4884590,8675916,15997,31184.0

In [27]:
dea.to_csv('../dataset/clean_dataset/final_DEA.csv')